.ac-subheader {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: map-get($spacers, 3) map-get($spacers, 5);
    background: $white;
    border-bottom: 1px solid #d3d3d3;
  }

  &__section {
    display: flex;
    align-items: center;

    h3 {
      font-family: $font-family-sans-serif;
      font-weight: 900;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }
}
