npm-debug.log
.idea/
dist/
node_modules/
tmp/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.nvmrc

# Jest test coverage
reports/
coverage/

# Template Components
*scratch/

# Styleguide
styleguide/
