@import '~@ac-ui/design-system/src/bridge/modal';

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: opacity 400ms ease;
}
