@import '~@ac-ui/design-system/src/theme';

.ac-toaster {
  position: absolute;
  right: 0;
  z-index: 3;
  width: 320px;
  color: $black;
  background-color: $brand-pure-gray-light;
  transition: transform 400ms;

  &.hide {
    transform: translateX(100%);
  }

  &.show {
    transform: translateX(0);
  }
}
