@import '~@ac-ui/design-system/src/base';

.feather {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.feather-24 {
  width: 24px;
  height: 24px;
  @extend .feather;
}

.arrow-hover-effect {
  transition: stroke 200ms linear, fill 200ms linear;

  fill: $white;
  stroke: $blue;

  circle {
    stroke: $blue;
  }

  &:hover {
    fill: $blue;
    stroke: $white;

    circle {
      stroke: $blue;
    }
  }
}

.clickable {
  cursor: pointer;
}

.primary-stroke {
  stroke: $primary;
}
