@import '~@ac-ui/design-system/src/base';

.ac-modal--alert {
  &.ReactModal__Content--after-open {
    animation: alert-animation 1600ms linear;
  }
}

.feather {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.feather-64 {
  width: map-get($spacers, 6);
  height: map-get($spacers, 6);
  @extend .feather;
}

.clickable {
  cursor: pointer;
}
